.Hi {
  font-family: "Playfair Display", Georgia, serif;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 0.3rem;
  position: relative;
  height: 450px;
}

.back_img {
  width: calc(100% + 2rem - 2px);
  height: calc(100% - 100px);
  z-index: 1000;
  opacity: 0.5;
  margin-left: -1rem;
  margin-top: -1rem;
  border: 1px solid rgb(143, 143, 143);
  border-bottom: none;
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.HiSlide {
  position: absolute;
  top: 30%;
  left: 5%;
  line-height: 1.5;
}

.homeIcon {
  margin-left: 7px;
}

.homeDataLink {
  font-family: "Roboto Mono", monospace;
  color: #474747;
  font-size: 10px;
  font-weight: 800;
  border: 1px solid #525252;
  border-radius: 5px;
  padding: 0.5rem;
  padding-right: 28px;
  margin: 0.5rem;
  background-color: rgb(227, 240, 252);
  text-decoration: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Animation */
.HiSlide {
  position: absolute;
  animation: fade 5s 1;
  -webkit-animation: fade 5s 1;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(120px);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  /* 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  } */
}
