.row {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.sidebar_content {
  width: 30%;
  padding-top: 53px;
}

.content {
  width: 70%;
}

@media (max-width: 1400px) {
  .sidebar_content {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .content {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .row {
    display: flex;
    flex-direction: column-reverse;
  }
}

.main_content {
  position: relative;
  background-color: white;
  border: 1px solid rgb(0, 0, 0, 0.2);
  margin: 6rem 8rem 2rem 1rem;
  padding: 1rem;
}

@media (max-width: 1400px) {
  .main_content {
      margin: 4rem 3%;
  }
}
